---
layout: default
title: Blog
---

<section class="blog">
  <h1>Notes</h1>

  {% assign visible_posts = site.posts | where_exp:"post", "post.hidden != true" %}
  {% assign posts_by_year = visible_posts | group_by_exp:"post", "post.date | date: '%Y'" %}
  {% for year in posts_by_year %}
    <h2>{{ year.name }}</h2>

    <div class="post-list">
      {% for post in year.items %}
      <article class="post-preview">
        <div class="post-preview-body">
          <h3>
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </h3>
          <p class="post-preview-date">
            Published on {{ post.date | date: "%b %d, %Y" }}.
          </p>
        </div>
        {% if post.image %}
          <div class="post-preview-image">
            <img src="{{ post.image | relative_url }}" alt="Post image">
          </div>
        {% endif %}
      </article>
      {% endfor %}
    </div>
  {% endfor %}
</section>
